.ridetype{
	height: 350px;
		
}
.ridetitle{
	background-color: #000000;
	opacity: 0.8;
	font-size: 18px;
	height: 70px;	
	line-height: 70px; 
	text-align: center;
}
.overlay{
	width: 0px;
	height: 0px;
	-webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.linker:hover > .overlay {
    width:100%;
    height:100%;
    /*position:absolute;*/
    background-color:#000;
    opacity:0.6;
}
.linker:hover > .ridetitle{
	text-decoration: none;
	color: aliceblue;
}
.linker{
	 width:100%;
    height:100%;
	 position:absolute;
	color: aliceblue;
	text-decoration: none;
}
#newvehicleform{
	background-color: #F3F3F3;
	padding: 15px;
}

#newreservationform{
  background-color: #F3F3F3;
  padding: 15px;
}


.switch {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F3B720;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

