.ridetype{
	height: 350px;
		
}
.ridetitle{
	background-color: #000000;
	opacity: 0.8;
	font-size: 18px;
	height: 70px;	
	line-height: 70px; 
	text-align: center;
}
.overlay{
	width: 0px;
	height: 0px;
	-webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.linker:hover > .overlay {
    width:100%;
    height:100%;
    /*position:absolute;*/
    background-color:#000;
    opacity:0.6;
}
.linker:hover > .ridetitle{
	text-decoration: none;
	color: aliceblue;
}
.linker{
	 width:100%;
    height:100%;
	 position:absolute;
	color: aliceblue;
	text-decoration: none;
}

.linker1{
	 width:350px;
   height: 220px;
	 position:absolute;
	text-decoration: none;
	
}
.linker1 .d{
	display: none;
	margin-top: 90px;
}

#newvehicleform{
	background-color: #F3F3F3;
	padding: 15px;
}


#newreservationform{
  background-color: #F3F3F3;
  padding: 15px;
}
#paymentdetailsform{
  background-color: #F3F3F3;
  padding: 15px;
}


.switch {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F3B720;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#contactuscover {
	background:#181015 url( ../images/contactus.jpg) no-repeat;
	background-size: cover; min-height:520px; text-align: center; padding-top:240px; 
	color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300;
}
#aboutuscover{
	background:#181015 url( ../images/about.PNG) no-repeat;
	background-size: cover; min-height:520px; text-align: center; padding-top:240px; 
	color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300;	
}

.h1 small {
font-size: 24px;
}
.vehicletumb{
	height: 300px;
}
.vehicletumb img{
	height: 220px;
	width: 100%;
}

.details{
	height: 80px;
	padding: 10px;
	background-color: antiquewhite;
}
.userdashbord li:hover{
	
	font-size: 20px;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{	vertical-align: middle;
	height:100%;
    width:100%;
}

.gallery_product
{	height: 230px;
    margin-bottom: 30px;
}
